/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.container-fluid {
  max-width: 1300px;
}
.jumbotron {
  margin-top: 15px;
  padding: 2rem;
  background-color: #f8f9fa;
}
